body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 30px auto 30px;
    grid-template-areas: 
      "kiri atas"
      "kiri isinya"
      "kiri bawah";
    height: 100vh;
  }
  
  /* Header */
  .header {
    grid-area: atas;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #546a83;
    padding: 0 20px;
    font-size: 14px;
  }
  
  .header__search {
    color: #ffffff;
  }
  
  .header__avatar {
    color: #ffffff;
  }
  
  /* Sidebar */
  .sidenav {
    grid-area: kiri;
    background-color: #0a0b09;
    color: #fff;
    padding-top: 20px;
  }
  
  .sidenav__list {
    list-style: none;
    padding: 0;
  }
  
  .sidenav__list-item {
    margin: 15px 0;
    padding-left: 15px;
    cursor: pointer;
    color: #eaeaea;
  }
  
  .sidenav__list-item:hover {
    color: #fff;
  }
  
  /* Main */
  .main {
    grid-area: isinya;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 130px 95px 1fr 1fr;
    grid-template-areas: 
      "atas1 atas1 atas1 atas1"
      "tengah2 tengah2 tengah2 tengah2"
      "kirisey kirisey kananatas kananatas"
      "kirisey kirisey kananbawah kananbawah";
    gap: 15px;
    background-color: #484b44;
    padding: 20px;
  }
  
  .main-header {
    grid-area: atas1;
    background-color: #67706e;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .overviewcard1,
  .overviewcard2,
  .overviewcard3,
  .overviewcard4 {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    padding: 10px;
  }
  
  .card1 {
    grid-area: kirisey;
    
    background-color: #525450;
  }
  
  .card2 {
    grid-area: kananatas;
    background-color: #40423d;
    width: 0%;
    border: none;
  }
  
  .card3 {
    grid-area: kananbawah;
    background-color: #aeaba9;
  }
  
  .card1 iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /* Footer */
  .footer {
    grid-area: bawah;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #546a83;
    padding: 0 20px;
    font-size: 14px;
  }